* {
    --thumbnailsize: 200px;
}

#navigation {
    width: 10% !important;
}

.beat-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10% 0;
}

.track {
    display: flex;
    flex-direction: column;
    margin: 0 60px;
}

.thumbnail {

    width: var(--thumbnailsize);
    height: var(--thumbnailsize);
    border: none;
    box-shadow: 2px 0px 6px 0px #000000;
    background-size: contain;
}

.beat-name {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}

.large-title {
    font-family: Arial, sans-serif, 'Noto Serif TC';
    display: block;
    font-size: 50px;
    font-weight: 800;
    color: var(--sub-color);
    padding: 30px 0;
}

.tag-container {

    width: var(--thumbnailsize);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    padding: 1px 16px;
    font-size: 14px;
    color: #333;
    border-radius: 23px;
    margin: 0 9px 6px 0px;;
}

.type {
    background: #ececec;
}

.mood {
    background: #fff6d4;
}