@media (max-width: 767px) {

    #header-icon {
        position: fixed;
        bottom: 2%;
        z-index: 2;
        left: 4%;
    }

    .beat-container {
        margin: 0 auto;
    }

    .track {
        margin: 10px 20px;
    }

    .thumbnail {
        width: calc(var(--thumbnailsize) - 100px);
        height: calc(var(--thumbnailsize) - 100px);
    }

    .beat-name {
        font-size: 14px;
    }

    .Price-tag {
        font-size: 14px;
    }

    .checkout-btn {
        width: 30px;
        height: 30px;
    }

    .tag-container {
        width: calc(var(--thumbnailsize) - 100px);
    }

    .tag {
        font-size: 7px;
        padding: 1px 10px;
    }

    #header-icon {
        bottom: 13% !important;
    }

    #popupForm {
        width: 70vw;
        height: 70vh;
        overflow: auto;
    }

    .checkout-form {
        text-align: left;
        width: auto;
        padding: 0;
    }

    .checkout-notice {
        width: auto;
        padding: 0 20px;
        border-right: 0px groove #929292;
        border-bottom: 1px groove #929292;
    }

    .checkout-title {
        font-size: 10px;
    }

    .checkout-list {
        font-size: 10px;
        width: 100%;
        margin: 0;
    }

    .checkout-notice h1 {
        font-size: 26px;
    }

    .checkout-notice p {
        font-size: 14px
    }

    .notice-text {
        font-size: 12px;
    }

}