* {
    font-family: 'Noto Sans TC', 'Noto Serif TC', 'Noto Sans', '微軟正黑體';
    scroll-behavior: smooth;
    color: var(--text-color);
    --main-color: #252937;
    --sub-color: #ffdf65;
    --sub-2-color:#f9eddb;
    --text-color: #fdfdfd;
    --text-color-sub: #222222;
    --warn-color: #d50000;
    --LOGO-height: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

h {
    font-family: 'Noto Serif TC', 'Noto Sans TC', '微軟正黑體';
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    line-height: normal;
}

h2 {
    font-family: 'Noto Serif TC', 'Noto Sans TC', '微軟正黑體';
    font-size: 60px;
}

p {
    font-family: 'Noto Sans TC', 'Noto Serif TC', '微軟正黑體';
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: normal;
}

a {
    font-family: 'Noto Sans TC', 'Noto Serif TC', '微軟正黑體';
    font-size: 16px;
    font-weight: 400;
}

button {
    font-family: 'Noto Sans TC', 'Noto Serif TC', '微軟正黑體';
    font-size: 16px;
    font-weight: 400;
}

#header {
    height: var(--LOGO-height);
}

#navigation {
    width: 30%;
}

.header-container {
    display: flex;
    height: 100%;
    border: 1px solid;
    border-color: #ffffff00;
    width: 100vw;
}

#LOGO {
    position: absolute;
    left: calc((100vw - var(--LOGO-height)) / 2);
}

#分頁 a {
    background-color: #faebd700;
    font-family: 'Noto Sans TC', 'Noto Serif TC', '微軟正黑體';
    font-size: 24px;
    color: #ffffff;
    border: #0d2a3b;
    padding-left: 3%;
}

/*頁內文字*/

.box-title {
    display: block;
    margin: 0 auto;
    padding-bottom: 3%;
    font-size: 60px;
    color: var(--sub-color);
}

.ROW_div h {
    text-align: left;
    font-size: 34px;
}

.ROW_div p {
    padding: 0 24px;
    text-align: left;
    font-size: 18px
}

.BOX div{
    justify-content: center;
}


/*--------------------首頁--------------------*/

.BOX {
    background-color: var(--main-color);
    padding: 50px 0;
}
.BOX-colume {
    padding: 0 12%;
}

.ROW_2 {
    display: flex;
    justify-content: center;
}

.ROW_3 {
    display: flex;
    margin: 0 12%;
    display: flex;
    margin: 0 12%;
    justify-content: center;
}

.ROW_2>.ROW_div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ROW_2-rev>.ROW_div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ROW-container{
    padding: 60px 0;
}

/*--------------------內文--------------------*/

.serverce-descript {
    display: flex;
    width: 80vw;
    margin: auto;
}

#pages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#pages a {
    font-size: 20px;
    line-height: 40px;
}

#list {
    width: 35%;
    padding-top: 12%;
}

#mobile-list {
    display: none;
}

.pages {
    font-size: 26px;
    line-height: 51px;
}

hr {
    width: 100%;
}

#content {
    padding: 3% 7%;
    width: 100%;
}

.title {
    font-size: 22px;
    line-height: 38px;
}

#content-title {
    font-size: 50px;
    line-height: 65px;
    display: block;
    color: var(--sub-color);
    padding: 50px 0;
}

.book {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 44px 0;
    background-color: var(--sub-color);
    color: var(--warn-color);
    margin: 55px 0;
    border-radius: 38px;
    font-weight: 700;
}