<!DOCTYPE html>
<html lang="h-Hant-TW ">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KH4NPVYE4F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KH4NPVYE4F');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="/img/Preview_1.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:title" content="<%= metaTitle || 'Default Title' %>">
    <meta property="og:description" content="<%= metaDescription || 'Default Description' %>">
    <meta name="description" content="<%= metaDescription || 'Default Description' %>">
    <title>
        <%= metaTitle || 'Default Title' %>
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- GoogleFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Homepage.css -->
    <link href="/CSS/Homepage.css" rel="stylesheet" />
    <link href="/CSS/Mobile-Homepage.css" rel="stylesheet" />
    <!-- Page.css -->
    <link href="/CSS/Page.css" rel="stylesheet" />
    <link href="/CSS/Mobile-Page.css" rel="stylesheet" />

    <!-- Animate.css v3.5.2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />

    <!-- swiper.css -->
    <link href="/CSS/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e86dcc2690.js" crossorigin="anonymous"></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WSXKQX94');</script>
    <!-- End Google Tag Manager -->
</head>